{% block sidebar %}
<style>
    .card{
        box-shadow: 0 16px 48px #E3E7EB;
    }
   
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
    <h5 class="card-header">About Us</h5>
<div class="card-body">
    <p class="card-text">this is a website dedicated to publish my progress in the programming area and to share my experiences, triumphs or defeats. If you want to know more about me, this is the ideal place.</p>
    <a href="#"
       class="btn btn-info">Know more!</a>
</div>
</div>
</div>

{% endblock sidebar %}